<a href="https://colab.research.google.com/github/BrunoGeraldine/B3_Prediction_2023/blob/main/B3_ETL_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# B3_Prediction_2023 → ETL

In [1]:
# Importando as bibliotecas

import pandas as pd

In [7]:
#Utilizando metodo read_fwf para ler arquivos do tipo posicionais

#Criando lista para asc olunas com a posição de cada coluna
colspecs = [(2,10), (10,12), (12,24), (27,39),
            (56,69), (69,82), (82,95), (108,121),
            (152,170), (170,188)
]

names = ['data_pregao', 'cod_bdi', 'sigla_acao', 'nome_acao',
         'preco_abert', 'preco_max', 'preco_min', 'preco_fech',
         'qtd_negocios', 'vol_negocios']

df = pd.read_fwf('/home/bruno/repos/B3_Prediction_2023/dataset/COTAHIST_A2013.TXT', encoding='latin1', colspecs=colspecs, names=names, skiprows=1)

df

,data_pregao,cod_bdi,sigla_acao,nome_acao,preco_abert,preco_max,preco_min,preco_fech,qtd_negocios,vol_negocios
0,20130102,2.0,AAPL11B,APPLE,11200.0,11200.0,11200.0,11200.0,400.0,4480000.0
1,20130102,2.0,ABCB4,ABC BRASIL,1400.0,1427.0,1400.0,1415.0,369300.0,522463200.0
2,20130102,96.0,ABCB4F,ABC BRASIL,1326.0,1415.0,1326.0,1413.0,80.0,118590.0
3,20130102,2.0,ABRE11,ABRIL EDUCA,4099.0,4183.0,4019.0,4097.0,13900.0,57036800.0
4,20130102,96.0,ABRE11F,ABRIL EDUCA,4093.0,4110.0,4093.0,4110.0,120.0,524720.0
...,...,...,...,...,...,...,...,...,...,...
378913,20131230,12.0,XPCM11,FII XP MACAE,9000.0,9300.0,8901.0,9269.0,3430.0,31089640.0
378914,20131230,12.0,XPGA11,FII XP GAIA,11000.0,11087.0,10970.0,11087.0,940.0,10378630.0
378915,20131230,14.0,XPOM11,FIP XP OMEGA,9777.0,9777.0,9500.0,9500.0,20.0,209270.0
378916,20131230,12.0,XTED11,FII TRXE COR,6699.0,6710.0,6651.0,6710.0,1690.0,11358270.0
378917,COTAHIST,0.2,013BOVESPA 2,123000000378,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# Filtrar pelo lote padrão que é o 2
df = df[df['cod_bdi'] == 2] 

# Filtragem feita, vou excluir o campo bdi, pois já não é mais necessario
df = df.drop(columns = 'cod_bdi')

df

,data_pregao,sigla_acao,nome_acao,preco_abert,preco_max,preco_min,preco_fech,qtd_negocios,vol_negocios
0,20150102,AAPL34,APPLE,2965.0,2965.0,2945.0,2945.0,32300.0,9.564350e+07
1,20150102,ABCB4,ABC BRASIL,1285.0,1285.0,1235.0,1255.0,117100.0,1.469337e+08
4,20150102,ABEV3,AMBEV S/A,1614.0,1656.0,1577.0,1601.0,19110800.0,3.073420e+10
29,20150102,ABRE3,ABRIL EDUCA,1118.0,1138.0,1066.0,1091.0,255000.0,2.802598e+08
32,20150102,AELP3,AES ELPA,910.0,910.0,889.0,889.0,29100.0,2.587200e+07
...,...,...,...,...,...,...,...,...,...
414161,20151230,WFCO34,WELLS FARGO,21920.0,21920.0,21920.0,21920.0,1000.0,2.192000e+07
414163,20151230,WHRL3,WHIRLPOOL,260.0,260.0,260.0,260.0,1500.0,3.900000e+05
414164,20151230,WHRL4,WHIRLPOOL,237.0,240.0,233.0,235.0,13600.0,3.212300e+06
414166,20151230,WSON33,WILSON SONS,3299.0,3300.0,3221.0,3300.0,11700.0,3.848550e+07
414174,20151230,XRXB34,XEROX CORP,4264.0,4264.0,4264.0,4264.0,300.0,1.279200e+06

In [26]:
# Ajuste campo de datas
df['data_pregao'] = pd.to_datetime(df['data_pregao'], format ='%Y%m%d')

In [27]:
# Ajuste valores numéricos

df['preco_abert'] = (df['preco_abert']  /100).astype(float)
df['preco_max'] = (df['preco_max']  /100).astype(float)
df['preco_min'] = (df['preco_min']  /100).astype(float)
df['preco_fech'] = (df['preco_fech']  /100).astype(float) 
#divido por 100 para termos os preços com duas casas decimais e transformo em float

In [28]:
df

,data_pregao,sigla_acao,nome_acao,preco_abert,preco_max,preco_min,preco_fech,qtd_negocios,vol_negocios
0,2015-01-02,AAPL34,APPLE,29.65,29.65,29.45,29.45,32300.0,9.564350e+07
1,2015-01-02,ABCB4,ABC BRASIL,12.85,12.85,12.35,12.55,117100.0,1.469337e+08
4,2015-01-02,ABEV3,AMBEV S/A,16.14,16.56,15.77,16.01,19110800.0,3.073420e+10
29,2015-01-02,ABRE3,ABRIL EDUCA,11.18,11.38,10.66,10.91,255000.0,2.802598e+08
32,2015-01-02,AELP3,AES ELPA,9.10,9.10,8.89,8.89,29100.0,2.587200e+07
...,...,...,...,...,...,...,...,...,...
414161,2015-12-30,WFCO34,WELLS FARGO,219.20,219.20,219.20,219.20,1000.0,2.192000e+07
414163,2015-12-30,WHRL3,WHIRLPOOL,2.60,2.60,2.60,2.60,1500.0,3.900000e+05
414164,2015-12-30,WHRL4,WHIRLPOOL,2.37,2.40,2.33,2.35,13600.0,3.212300e+06
414166,2015-12-30,WSON33,WILSON SONS,32.99,33.00,32.21,33.00,11700.0,3.848550e+07
414174,2015-12-30,XRXB34,XEROX CORP,42.64,42.64,42.64,42.64,300.0,1.279200e+06

In [30]:
df.to_csv('/home/bruno/repos/B3_Prediction_2023/dataset/bovespa_2015.csv')