<a href="https://colab.research.google.com/github/BrunoGeraldine/B3_Prediction_2023/blob/main/B3_ETL_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# B3_Prediction_2023 → ETL

In [6]:
# Importando as bibliotecas

import pandas as pd

In [7]:
#Utilizando metodo read_fwf para ler arquivos do tipo posicionais

#Criando lista para asc olunas com a posição de cada coluna
colspecs = [(2,10), (10,12), (12,24), (27,39),
            (56,69), (69,82), (82,95), (108,121),
            (152,170), (170,188)
]

names = ['data_pregao', 'cod_bdi', 'sigla_acao', 'nome_acao',
         'preco_abert', 'preco_max', 'preco_min', 'preco_fech',
         'qtd_negocios', 'vol_negocios']

df = pd.read_fwf('/home/bruno/repos/B3_Prediction_2023/dataset/COTAHIST_A2018.TXT', colspecs=colspecs, names=names, skiprows=1)

df

,data_pregao,cod_bdi,sigla_acao,nome_acao,preco_abert,preco_max,preco_min,preco_fech,qtd_negocios,vol_negocios
0,20180102,2.0,AALR3,ALLIAR,1494.0,1516.0,1470.0,1489.0,94500.0,140299100.0
1,20180102,96.0,AALR3F,ALLIAR,1479.0,1493.0,1479.0,1480.0,220.0,334380.0
2,20180102,2.0,AAPL34,APPLE,5681.0,5681.0,5630.0,5630.0,900.0,5074700.0
3,20180102,96.0,AAPL34F,APPLE,5681.0,6500.0,5654.0,5654.0,60.0,363770.0
4,20180102,10.0,ABCB2,ABC BRASIL,411.0,420.0,411.0,420.0,1200.0,497700.0
...,...,...,...,...,...,...,...,...,...,...
580151,20181228,12.0,XPLG11,FII XP LOG,10000.0,10030.0,9901.0,10029.0,17310.0,172940810.0
580152,20181228,12.0,XPML11,FII XP MALLS,10790.0,10800.0,10550.0,10780.0,20060.0,215038940.0
580153,20181228,14.0,XPOM11,FIP XP OMEGA,10301.0,10301.0,10300.0,10300.0,490.0,5088600.0
580154,20181228,12.0,XTED11,FII TRXE COR,1751.0,1790.0,1749.0,1790.0,220.0,390670.0
580155,COTAHIST,0.2,018BOVESPA 2,122800000580,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Filtrar pelo lote padrão que é o 2
df = df[df['cod_bdi'] == 2] 

# Filtragem feita, vou excluir o campo bdi, pois já não é mais necessario
df = df.drop(columns = 'cod_bdi')

df

,data_pregao,sigla_acao,nome_acao,preco_abert,preco_max,preco_min,preco_fech,qtd_negocios,vol_negocios
0,20180102,AALR3,ALLIAR,1494.0,1516.0,1470.0,1489.0,94500.0,1.402991e+08
2,20180102,AAPL34,APPLE,5681.0,5681.0,5630.0,5630.0,900.0,5.074700e+06
6,20180102,ABCB4,ABC BRASIL,1683.0,1685.0,1656.0,1658.0,326300.0,5.433160e+08
9,20180102,ABEV3,AMBEV S/A,2133.0,2175.0,2117.0,2169.0,12717900.0,2.748134e+10
34,20180102,ADHM3,ADVANCED-DH,200.0,200.0,198.0,199.0,4600.0,9.176000e+05
...,...,...,...,...,...,...,...,...,...
580137,20181228,WHRL3,WHIRLPOOL,441.0,450.0,430.0,430.0,11600.0,5.201200e+06
580139,20181228,WHRL4,WHIRLPOOL,482.0,510.0,469.0,510.0,5100.0,2.491500e+06
580141,20181228,WIZS3,WIZ S.A.,705.0,720.0,701.0,701.0,519200.0,3.695688e+08
580144,20181228,WLMM4,WLM IND COM,490.0,507.0,490.0,507.0,3000.0,1.485300e+06
580146,20181228,WSON33,WILSON SONS,3921.0,4000.0,3921.0,4000.0,83800.0,3.351797e+08

In [10]:
# Ajuste campo de datas
df['data_pregao'] = pd.to_datetime(df['data_pregao'], format ='%Y%m%d')

In [11]:
# Ajuste valores numéricos

df['preco_abert'] = (df['preco_abert']  /100).astype(float)
df['preco_max'] = (df['preco_max']  /100).astype(float)
df['preco_min'] = (df['preco_min']  /100).astype(float)
df['preco_fech'] = (df['preco_fech']  /100).astype(float) 
#divido por 100 para termos os preços com duas casas decimais e transformo em float

In [12]:
df.dtypes

data_pregao     datetime64[ns]
sigla_acao              object
nome_acao               object
preco_abert            float64
preco_max              float64
preco_min              float64
preco_fech             float64
qtd_negocios           float64
vol_negocios           float64
dtype: object

In [13]:
#df = pd.read_fwf('/home/bruno/repos/B3_Prediction_2023/dataset/COTAHIST_A2018.T

SyntaxError: incomplete input (2944232384.py, line 1)

In [ ]:
df_final_2 = pd.concat([df_final, df])