# Imports

In [4]:
import pyarrow
import pandas as pd

## Load files

In [6]:
cols_position = [(2,10),
            (10,12),
            (12,24),
            (27,39),
            (56,69),
            (69,82),
            (82,95),
            (108,121),
            (152,170),
            (170, 178)]

cols_name = ['data_pregao', 'codbdi', 'sigla_acao',
             'nome_acao', 'preco_abertura', 'preco_maximo',
             'preco_minimo', 'preco_fechamento', 'qtd_negocios',
             'volume_negocios']

df = pd.read_fwf('../dataset/COTAHIST_A2012.TXT', colspecs=cols_position, names=cols_name, skiprows=1, encoding='latin1')

In [7]:
# Filtering data to codbdi == 2 and drop column
df = df[df['codbdi']==2]
df = df.drop(['codbdi'], axis=1)

In [8]:
# Ajusta datetime
df['data_pregao'] = pd.to_datetime(df['data_pregao'], format='%Y%m%d')

# Ajuste Campo Numericos
df['qtd_negocios'] = df['qtd_negocios'].astype(int)
df['volume_negocios'] = df['volume_negocios'].astype(int)
df['preco_abertura'] = (df['preco_abertura']/100).astype(float)
df['preco_maximo'] = (df['preco_maximo']/100).astype(float)
df['preco_minimo'] = (df['preco_minimo']/100).astype(float)
df['preco_fechamento'] = (df['preco_fechamento']/100).astype(float)

In [9]:
df_itau = df[df['sigla_acao']=='ITUB4']

In [10]:
df_itau

,data_pregao,sigla_acao,nome_acao,preco_abertura,preco_maximo,preco_minimo,preco_fechamento,qtd_negocios,volume_negocios
473,2012-01-02,ITUB4,ITAUUNIBANCO,34.22,34.25,33.50,34.03,3403800,1
1600,2012-01-03,ITUB4,ITAUUNIBANCO,34.08,34.88,34.08,34.88,6431300,2
2856,2012-01-04,ITUB4,ITAUUNIBANCO,34.59,35.07,34.28,34.92,6320200,2
4123,2012-01-05,ITUB4,ITAUUNIBANCO,34.55,35.01,33.98,34.66,6733600,2
5296,2012-01-06,ITUB4,ITAUUNIBANCO,34.80,35.17,34.53,34.92,4986400,1
...,...,...,...,...,...,...,...,...,...
324625,2012-12-20,ITUB4,ITAUUNIBANCO,34.10,34.28,33.58,33.90,8013300,2
325995,2012-12-21,ITUB4,ITAUUNIBANCO,33.64,34.47,33.45,34.41,9266300,3
327352,2012-12-26,ITUB4,ITAUUNIBANCO,34.09,34.23,33.58,33.74,5675400,1
328714,2012-12-27,ITUB4,ITAUUNIBANCO,33.86,33.86,32.98,33.18,5005700,1
329985,2012-12-28,ITUB4,ITAUUNIBANCO,33.36,33.62,32.96,33.39,7294600,2